.flex{
    display: flex;
}

header{
    justify-content: space-around;
    align-items: center;
}

.head{
    color:#eee;
    background-color: teal;
}

.headDark{
    color:#eee;
    background-color: #333;
}

nav{
    gap:1rem;
}

nav a{
    text-decoration: none;
    color:#eee;
}
