.container{
  margin:10px;
  padding: 20px;
  width: 200px;
  height: 200px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  box-shadow: 0 0 5px #a0a0a0;
}

.container button{
  margin:10px;
  padding: 10px 15px;
  cursor: pointer;
}